<!DOCTYPE html>
<html>
   <head>
   <title>Students</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
   </head>
   <body>
      <nav>
         <a href = "{{ url_for('show_all') }}">Show All Student</a> |
         <a href = "{{ url_for('new') }}">Add Student</a>
      </nav>
      <aside>
         {%- for message in get_flashed_messages() %}
            {{ message }}
         {%- endfor %}
      </aside>
      <section>
         <h1>Students</h1>

         

         <form action = "{{ request.path }}" method = "post">
            <label for = "name">Nombre</label>
            <input type = "text" name = "name" placeholder = "Name" /><br>
            <label for = "email">Ciudad</label>
            <input type = "text" name = "city" placeholder = "city" /><br>
            <label for = "addr">Dirección</label>
            <textarea name = "addr" placeholder = "addr"></textarea><br>
            <label for = "PIN">Código</label>
            <input type = "text" name = "pin" placeholder = "pin" /><br>
            <input type = "submit" value = "Submit" />
         </form>
      </section>
   </body>
</html>
