body {
    background-color: #e4e3e3;
    color: #204051;
}
nav {
	font-size: 15px;
	text-align: left;
	border-color:#ffffff;
	border-radius:15px;
	margin:0.5em;
	padding:0.5em;
}

label {
	text-align: right;
	width: 500px;
}
section {
    background-color: #84a9ac;
    border: #3b6978 2px solid;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    width: 900px;
}

section h1 {
    color: #e4e3e3;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 300px;
    float: right;
}

table {
    border: #204051 1px solid;
    width: 100%; 
}

td {
    border-bottom: #204051 1px solid;
}

aside {
	float: right;
	padding:1em;
}

.accion {
	border: none;
	background-color: #84a9ac;
	color: #204051;
}

.accion:hover {
	border: none;
	background-color: #84a9ac;
	color: #ffffff;
	font-weight: bolder;
}
